@media (max-width: 400px) {
 header, .header, .nav-link {
   display: flex;
   flex-direction: column;
 }
}

body {
  margin: 0;
}

header {
  min-height: 100%;
  -webkit-background-size: cover;
  background-size: cover;

  background-repeat:no-repeat;
  background: linear-gradient( to left top, #00a1ff, #e400ff);

  width: 100%;
  margin: 0;
  padding: 0;

  display: inline-block;
}

h2 {
 display: inline-block;
 vertical-align: middle;
 margin-left: -50px;
 font-size: xx-large;
}

.nav-link {
  display: inline-block;
}

nav {
  margin: 0;
  padding: 0;

  display: inline-block;
  position: fixed; 
  top: 0; 
  right: 0; 
  border: 0;
}

#header-img {
  width: 160px;
  height: auto;

  display: inline-block;
  vertical-align: middle;
  margin-left: -30px;
}

nav > ul > li > a {
  font-size: x-large;
  color: white;
}

#main-container {
  padding: 20px 50px 50px 50px;
  display: flexbox;
}

.main-elmt {
  display: flex;
  text-align: center;
  margin-bottom: 5px;
}

form {
  flex-direction: column;
  align-items: center;
}

form > input {
  display: flex;
  width: max-content;
}

#video-block {
  display: flexbox;
  flex-direction: column;
}
